In [61]:
import pandas as pd
import os
import os.path
import numpy as np
import re
import ast

In [8]:
# Mostrar las extensiones de los archivos que se encuentran presentes en la carpeta 'Movies'
datos_dir = 'C:/Users/Ramon-pc/Documents/2024/Tutos/SH/practico2/Movies'
archivos = os.listdir(datos_dir)

#for files in archivos:
#    nom, ext = os.path.splitext(files)
#    print("Extensión '{}'".format(ext))

In [9]:
# Crear una lista con el path de los archivos detectados en la carpeta 'archivos'
files_csv = []

for archivo in archivos:
    if os.path.isfile(os.path.join(datos_dir, archivo)) and archivo.endswith('.csv'):
        files_csv.append(f'{datos_dir}/{archivo}')
        
print(f'files_csv: {files_csv}')

files_csv: ['C:/Users/Ramon-pc/Documents/2024/Tutos/SH/practico2/Movies/credits.csv', 'C:/Users/Ramon-pc/Documents/2024/Tutos/SH/practico2/Movies/movies_dataset.csv']

In [10]:
# Leer los archivos .csv y crear 2 Dataframes de Pandas para poder hacer la manipulación de los datos
#para el segundo archivo se coloca "low_memory = False" para leer columnas de tipo mixto
csv_credits = pd.read_csv(files_csv[0])
csv_movies_DS = pd.read_csv(files_csv[1], low_memory= False)

print ('Archivos leidos')

Archivos leidos

In [11]:
#TRANSFORMACIÓN Y LIMPIEZA DE DATOS DEL DATAFRAME csv_movies_DS
#VER LA INFORMACION DEL ARCHIVO CSV

csv_movies_DS.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [12]:
#VER DATOS DE LA CANTIDAD DE FILAS, COLUMNAS, DATOS FALTANTES Y TIPOS DE DATOS DE csv_movies_DC
csv_movies_DS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [16]:
#CANTIDAD DE REGISTROS Y COLUMNAS
cant = csv_movies_DS.shape[0]
csv_movies_DS.shape

(45466, 24)

In [17]:
#Datos faltantes por columna
conteo_valores = csv_movies_DS.isnull().sum()
columnas = csv_movies_DS.shape[0]
conteo_valores[0:columnas]

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [24]:
#PORCENTAJE FALTANTE RESPECTO DEL TOTAL
total_celdas = np.prod(csv_movies_DS.shape)
total_faltante = conteo_valores.sum()
porcentaje_valores = (total_faltante/total_celdas)*100

print(round(porcentaje_valores, 2), '%')

9.67 %

In [25]:
csv_movies_DS.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [26]:
#ELIMINACION DE COLUMNAS NO UTILIZABLES
#1-SE CREA UNA LISTA DE COLUMNAS A ELIMINAR
#2-SE PROCEDE A ELIMINAR Y VERIFICAR LOS CAMBIOS

drop_columnas = ['adult', 'imdb_id', 'homepage', 'original_title', 'poster_path', 'video']
csv_movies_DS.drop(drop_columnas, axis=1, inplace=True)

csv_movies_DS.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [27]:
#BUSQUEDA DE INCONSISTENCIAS EN CAMPOS SIMPLES: tagline, status, original_language, overview, runtime y title
#1- original_language: conteo de campos por lenguaje.
csv_movies_DS['original_language'].value_counts(dropna=False)

original_language
en      32269
fr       2438
it       1529
ja       1350
de       1080
        ...
sm          1
82.0        1
hy          1
lb          1
si          1
Name: count, Length: 93, dtype: int64

Resultado: contiene valores numéricos, se deben reemplazar.

In [30]:
#1-Función para detectar los números
#2-Cambiar a string la columna
#3-Se aplica la función
#4-Ver el df luego de la condición

def tiene_num(cadena):
    return bool(re.search(r'\d', str(cadena)))

csv_movies_DS['original_language'] = csv_movies_DS['original_language'].astype(str)

fun_num = csv_movies_DS['original_language'].apply(tiene_num)

csv_movies_DS[fun_num].original_language

19730    104.0
29503     68.0
35587     82.0
Name: original_language, dtype: object

In [31]:
#Cambiar números por NaN
csv_movies_DS.loc[fun_num, 'original_language'] = np.nan

#Comprobar
csv_movies_DS[fun_num].original_language

19730    NaN
29503    NaN
35587    NaN
Name: original_language, dtype: object

Campo status

In [32]:
#Cantidad de valores para status en la columna
csv_movies_DS['status'].value_counts(dropna=False)

status
Released           45014
Rumored              230
Post Production       98
NaN                   87
In Production         20
Planned               15
Canceled               2
Name: count, dtype: int64

Campo tagline

In [33]:
#Conteo de tagline
csv_movies_DS['tagline'].value_counts()

tagline
Based on a true story.                                                                                                    7
Be careful what you wish for.                                                                                             4
-                                                                                                                         4
Trust no one.                                                                                                             4
Which one is the first to return - memory or the murderer?                                                                3
                                                                                                                         ..
He's a cop on the edge. She's a woman with a dangerous secret. And now they're both...                                    1
Anxiety loves company.                                                                                                    1
In a time of chaos, in a world of change, he was moved by a book he could not read to become a hero he never imagined.    1
He gave her flowers. She gave him a chance.                                                                               1
A Los Angeles Crime Saga                                                                                                  1
Name: count, Length: 20283, dtype: int64

4 lineas vienen con guión, reemplazar con NaN

In [35]:
csv_movies_DS['tagline'] = csv_movies_DS['tagline'].replace('-', np.nan)
csv_movies_DS['tagline'].value_counts()

tagline
Based on a true story.                                                                                                    7
Trust no one.                                                                                                             4
Be careful what you wish for.                                                                                             4
Know Your Enemy                                                                                                           3
Drama                                                                                                                     3
                                                                                                                         ..
One night is all that stands between them and freedom. But it's going to be a hell of a night.                            1
He's a cop on the edge. She's a woman with a dangerous secret. And now they're both...                                    1
Anxiety loves company.                                                                                                    1
In a time of chaos, in a world of change, he was moved by a book he could not read to become a hero he never imagined.    1
Just When His World Is Back To Normal... He's In For The Surprise Of His Life!                                            1
Name: count, Length: 20282, dtype: int64

Campo title

In [36]:
#Cantidad de títulos
csv_movies_DS['title'].value_counts(dropna=False)

title
Cinderella              11
Alice in Wonderland      9
Hamlet                   9
Beauty and the Beast     8
Les Misérables           8
                        ..
Caged Heat 3000          1
Subdue                   1
Century of Birthing      1
Satan Triumphant         1
Bad Moms                 1
Name: count, Length: 42278, dtype: int64

In [44]:
#Reemplazar celdas vacias por NaN
csv_movies_DS.loc['title'] = csv_movies_DS['title'].replace('', np.nan)

Campo runtime

In [45]:
#Cantidad de repeticiones de tiempos
csv_movies_DS['runtime'].value_counts(dropna=False)

runtime
90.0     2556
0.0      1558
100.0    1470
95.0     1412
93.0     1214
         ...
452.0       1
313.0       1
359.0       1
275.0       1
780.0       1
Name: count, Length: 354, dtype: int64

REVISION DE DATOS ANIDADOS

In [46]:
#Revisión de los encabezados
csv_movies_DS.loc[0]

belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
id                                                                     862
original_language                                                       en
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                        373554033.0
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
vote_average                                                           7.7
vote_count                                                          5415.0
Name: 0, dtype: object

Existen 5 columnas con formato json

In [49]:
#Muestra de la primera fila de cada json
csv_movies_DS.belongs_to_collection.loc[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [50]:
csv_movies_DS.genres.loc[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [51]:
csv_movies_DS.production_companies.loc[0]

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [52]:
csv_movies_DS.production_countries.loc[0]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [53]:
csv_movies_DS.spoken_languages.loc[0]

"[{'iso_639_1': 'en', 'name': 'English'}]"

Se procederá a desanidar utilizando la clave name

In [54]:
#Verificar cadenas vacias y espacios en belongs_to_collection
csv_movies_DS.loc[csv_movies_DS['belongs_to_collection'].str.strip() == '']

Empty DataFrame
Columns: [belongs_to_collection, budget, genres, id, original_language, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [57]:
#Control de diccionarios vacíos
dic_belong = csv_movies_DS[csv_movies_DS['belongs_to_collection'].str.contains('{}', na = False, regex=False)]
dic_belong

Empty DataFrame
Columns: [belongs_to_collection, budget, genres, id, original_language, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [60]:
#Verificar cadenas vacias y espacios vacios en genres
csv_movies_DS.loc[csv_movies_DS['genres'].str.strip() == '']

Empty DataFrame
Columns: [belongs_to_collection, budget, genres, id, original_language, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [62]:
#Ver registros con listas vacias
lst_genres = csv_movies_DS[csv_movies_DS['genres'].str.contains('[]', na=False, regex=False)]
lst_genres.genres.head()

55     []
83     []
126    []
137    []
390    []
Name: genres, dtype: object

In [68]:
lista_vacia = lst_genres.genres.shape[0]
print('Existen', lista_vacia, 'filas con la columna genres conteniendo una lista vacía')

Existen 2442 filas con la columna genres conteniendo una lista vacía

Verificación a la columna production_companies

In [69]:
#Valores vacios
csv_movies_DS.loc[csv_movies_DS['production_companies'].str.strip() == '']

Empty DataFrame
Columns: [belongs_to_collection, budget, genres, id, original_language, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [70]:
#Verificar conenidos con lista vacía
lst_prod_com = csv_movies_DS[csv_movies_DS['production_companies'].str.contains('[]',na=False, regex=False)]
lst_prod_com.production_companies.head()

50    []
52    []
57    []
58    []
83    []
Name: production_companies, dtype: object

In [71]:
lista_vac_p_c = lst_prod_com.shape[0]
print('Existen', lista_vac_p_c, 'listas vacías')

Existen 11875 listas vacías

Verificación a la columna production_countries

In [72]:
#Valores vacios
csv_movies_DS.loc[csv_movies_DS['production_countries'].str.strip() == '']

Empty DataFrame
Columns: [belongs_to_collection, budget, genres, id, original_language, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [73]:
#Verificar conenidos con lista vacía
lst_prod_coun = csv_movies_DS[csv_movies_DS['production_countries'].str.contains('[]',na=False, regex=False)]
lst_prod_coun.production_countries.head()

50     []
55     []
83     []
106    []
107    []
Name: production_countries, dtype: object

In [74]:
lista_vac_p_co = lst_prod_coun.shape[0]
print('Existen', lista_vac_p_co, 'listas vacías')

Existen 6282 listas vacías